{% extends "layout.html" %}

{% block CSS %}
<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/viewprofile.css') }}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand mr-4" href="/">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle1"
      aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle1">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/about">About</a>
      </div>
      <!-- Navbar Right Side -->
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</nav>
<br>

<div class="container">
  <div class="row">
    <div class="col-"></div>
    <div class="col-sm-12 col-md-8">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, msg in messages %}
      <div class="alert alert-{{ category}}">
        <p>{{msg}}</p>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <h2> {{ data[1] }} </h2>
      <p> {{ data[3]}}</p>
      <form class="signup-form" action="http://localhost:5000/account?id={{data[0]}}" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <div class="form-group">
            {{ form.username.label(class="form-control-label") }}

            {% if form.username.errors %}
            {{ form.username(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
              <span> {{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.username(class="form-control") }}
            {% endif %
          </div>
          <div class="form-group">
            {{ form.email.label(class="form-control-label") }}
            {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.email.errors %}
              <span> {{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="form-control") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.first_name.label(class="form-control-label") }}
            {% if form.first_name.errors %}
            {{ form.first_name(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.first_name.errors %}
              <span> {{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.first_name(class="form-control") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.last_name.label(class="form-control-label") }}
            {% if form.last_name.errors %}
            {{ form.last_name(class="form-control is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.last_name.errors %}
              <span> {{ error }}</span>
              {% endfor %}
            </div>
            {% else %}
            {{ form.last_name(class="form-control") }}
            {% endif %}
          </div>
          <div class="form-group">
            {{ form.dob.label(class="form-control-label") }}
            {{ form.dob(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.address.label(class="form-control-label") }}
            {{ form.address(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.city.label(class="form-control-label") }}
            {{ form.city(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.state.label(class="form-control-label") }}
            {{ form.state(class="form-control") }}
          </div>
          <div class="form-group">
            {{ form.phone_no.label(class="form-control-label") }}
            {{ form.phone_no(class="form-control") }}
          </div>
        </fieldset>
        <div class="form-group">
          {{ form.submit(class="btn signup-btn") }}
        </div>
      </form>
    </div>
    <div class="col-"></div>
  </div>
</div>
{% endblock content %}