{% extends "layout.html" %}

{% block CSS %}
<link rel="stylesheet" type='text/css' href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block content %}
<div class="container signup-container">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-12 col-md-10">
            <div class="card signup-card">
                <div class="card-block">
                    <label class="signup-details">Register</label>
                    <form class="signup-form" action="" method="POST">
                        {{ form.hidden_tag() }}
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ form.username.label(class="form-control-label") }}
                                {% if form.username.errors %}
                                {{ form.username(class="form-control is-invalid", value=form.username.data) }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                    <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.username(class="form-control") }}
                                {% endif %}

                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                {% for category, msg in messages %}
                                <div class="alert alert-{{ category}}">
                                    <p>{{msg}}</p>
                                </div>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="form-control-label") }}
                                {% if form.password.errors %}
                                {{ form.password(class="form-control is-invalid", value=form.password.data) }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                    <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.password(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.confirm_password.label(class="form-control-label") }}
                                {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control is-invalid", value=form.confirm_password.data) }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                    <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.confirm_password(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label") }}
                                {% if form.email.errors %}
                                {{ form.email(class="form-control is-invalid", value=form.email.data)}}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                    <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.email(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.first_name.label(class="form-control-label") }}
                                {% if form.first_name.errors %}
                                {{ form.first_name(class="form-control is-invalid", value=form.first_name.data) }}
                                <div class="invalid-feedback">
                                    {% for error in form.first_name.errors %}
                                    <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.first_name(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.last_name.label(class="form-control-label") }}
                                {% if form.last_name.errors %}
                                {{ form.last_name(class="form-control is-invalid", value=form.last_name.data) }}
                                <div class="invalid-feedback">
                                    {% for error in form.last_name.errors %}
                                    <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.last_name(class="form-control") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.dob.label(class="form-control-label") }}
                                {% if form.dob.errors %}
                                {{ form.dob(class="form-control is-invalid", value=form.dob.data, type="date") }}
                                <div class="invalid-feedback">
                                    {% for error in form.dob.errors %}
                                    <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.dob(class="form-control", type="date") }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.state.label(class="form-control-label") }}
                                {{ form.state(class="form-control", onChange=("changecat(this.value)")) }}
                                <!-- <select class="custom-select" id="inputGroupSelect01" name="state" onChange="changecat(this.value)">
                                    <option selected>None....</option>
                                    <option value="Abia">Abia</option>
                                    <option value="Adamawa">Adamawa</option>
                                    <option value="Akwa_Ibom">Akwa Ibom</option>
                                    <option value="Anambra">Anambra</option>
                                    <option value="Bauchi">Bauchi</option>
                                    <option value="Bayelsa">Bayelsa</option>
                                    <option value="Benue">Benue</option>
                                    <option value="Borno">Borno</option>
                                    <option value="Cross_River">Cross River</option>
                                    <option value="Delta">Delta</option>
                                    <option value="Ebonyi">Ebonyi</option>
                                    <option value="Edo">Edo</option>
                                    <option value="Ekiti">Ekiti</option>
                                    <option value="Enugu">Enugu</option>
                                    <option value="Gombe">Gombe</option>
                                    <option value="Imo">Imo</option>
                                    <option value="Jigawa">Jigawa</option>
                                    <option value="Kaduna">Kaduna</option>
                                    <option value="Kano">Kano</option>
                                    <option value="Katsina">Katsina</option>
                                    <option value="Kebbi">Kebbi</option>
                                    <option value="Kogi">Kogi</option>
                                    <option value="Kwara">Kwara</option>
                                    <option value="Lagos">Lagos</option>
                                    <option value="Lagos">Lagos</option>
                                    <option value="Nasarawa">Nasarawa</option>
                                    <option value="Niger">Niger</option>
                                    <option value="Ogun">Ogun</option>
                                    <option value="Ondo">Ondo</option>
                                    <option value="Osun">Osun</option>
                                    <option value="Oyo">Oyo</option>
                                    <option value="Plateau">Plateau</option>
                                    <option value="Rivers">Rivers</option>
                                    <option value="Sokoto">Sokoto</option>
                                    <option value="Taraba">Taraba</option>
                                    <option value="Yobe">Yobe</option>
                                    <option value="Zamfara">Zamfara</option>
                                    <option value="Abuja">Federal Capital Territory (Abuja)</option>
                                </select> -->
                            </div>
                            <div class="form-group">
                                {{ form.city.label(class="form-control-label") }}
                                <select class="custom-select" id="city_options" name="city">
                                    <option value="" disabled selected></option>
                                </select>
                            </div>     
                            <div class="form-group">
                                {{ form.address.label(class="form-control-label") }}
                                {{ form.address(class="form-control", value=form.address.data) }}
                            </div>                       
                            <div class="form-group">
                                {{ form.phone_no.label(class="form-control-label") }}
                                {% if form.phone_no.errors %}
                                {{ form.phone_no(class="form-control is-invalid", value=form.phone_no.data) }}
                                <div class="invalid-feedback">
                                    {% for error in form.phone_no.errors %}
                                    <span> {{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.phone_no(class="form-control", value="+234", type="tel") }}
                                {% endif %}
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn signup-btn") }}
                        </div>
                    </form>
                    <small class="bottom-point">Already have an account, <a href="{{ url_for('login') }}">Login</a></small>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock content %}